@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic&display=swap");
@import "../public/legacy/css/application.css";
@import "../public/legacy/css/common.css";
@import "../public/legacy/css/fonts.css";
@import "../public/legacy/css/blocks.css";
@import "../public/legacy/icomoon/style.css";
@import "../public/legacy/css/loadingbar.css";
@import "../public/legacy/css/ngDialog.css";
@import "../public/legacy/css/ngDialog-theme-default.css";

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility: hidden;
}

.ng-anchor {
  position: absolute;
}
